.statscards-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 28px;

  .statscard-one {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0 0 24px rgba(8, 23, 53, 0.16);
    background-color: var(--background-element);

    .statsone-header {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 20px;
      border-bottom: solid 1px var(--stroke-stats);

      p {
        color: var(--text-stats);
        font-weight: var(--inter-bold);
        font-size: 18px;
        line-height: 27px;
      }
    }

    .statsone-container {
      padding: 24px 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      .statsone-stats {
        display: flex;
        align-items: center;
        gap: 56px;

        .statsone-stat {
          display: flex;
          flex-direction: column;
          align-items: center;

          .stat-count {
            font-size: 18px;
            line-height: 27px;
            color: var(--text-stats);
            font-weight: var(--inter-bold);
          }

          .stat-title {
            font-size: 14px;
            line-height: 20px;
            color: var(--text-statsaccent);
            font-weight: var(--inter-regular);
          }
        }
      }
    }
  }

  .statscard-two {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    padding: 16px 32px;
    border-radius: 24px;
    box-shadow: 0 0 24px rgba(8, 23, 53, 0.16);
    background-color: var(--background-element);
    margin-top: -12px;
    margin-right: -28px;
    z-index: 5;

    .statstwo-header {
        display: flex;
        align-items: center;
        gap: 92px;

        .statstwo-growth {
            display: flex;
            flex-direction: column;
            font-weight: var(--inter-regular);
            font-size: 12px;
            line-height: 16px;

            .growth-container {
                display: flex;
                gap: 4px;
                align-items: center;
                font-weight: var(--inter-bold);
                font-size: 14px;
                line-height: 20px;
                color: #0049C6;
            }
        }
    }

    .statstwo-issue {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-weight: var(--inter-bold);

        .issue-title {
            font-size: 14px;
            line-height: 20px;
            color: var(--text-statsaccent);
        }

        .issue-count {
            font-size: 32px;
            line-height: 32px;
            color: var(--text-stats);
        }
    }
  }
}