:root {
  --background-canvas: #FAFAFA;
  --background-element: #FFFFFF;
  --stroke-primary: #D5D7DA;
  --stroke-secondary: #E9EAEB;
  --stroke-stats: #E6E8F0;
  --text-primary: #181D27;
  --text-secondary: #414651;
  --text-stats: #081735;
  --text-stataccent: #171717;
  --button-primary: #1570EF;

  --inter-bold: 700;
  --inter-semibold: 600;
  --inter-medium: 500;
  --inter-regular: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-canvas);
  color: var(--text);
  font-family: var(--font-inter);
  display: flex;

  @media screen and (max-width:740px) {
    flex-direction: column;
  }
}